<header class="main-header">
  <nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3">
          <a href="/" class="navbar-brand">Dota 2 Notes</a>
        </div>

        <div class="col-md-9">
          <ul class="nav navbar-nav">
            <li {% if page.navigation == "articles" %}class="selected"{%endif%}>
              <a href="/articles/">Articles</a>
            </li>
            <li {% if page.navigation == "about" %}class="selected"{%endif%}>
              <a href="/about/">About</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</header>