<header class="main-header">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header col-md-3">
          <button type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#nav-pages"
              aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Dota 2 Notes</a>
        </div>

        <div id="nav-pages" class="collapse navbar-collapse col-md-9">
          <ul class="nav navbar-nav">
            <li {% if page.navigation == "articles" %}class="selected"{%endif%}>
              <a href="/articles/">Articles</a>
            </li>
            <li {% if page.navigation == "about" %}class="selected"{%endif%}>
              <a href="/about/">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>