html {
  min-height: 100%;
  position: relative;
}

body {
  color:        $body-text-color;
  font-family:  $body-font-family;
  font-size:    $body-font-size;
  position:     relative; // needed for scrollspy
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

a {
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

.clearfix {
  &:after {
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;
    font-size: 0;
    display: block;
  }
}