.image-container {
  .image {
    width: 100%;
    max-width: 100%;
  }

  .caption {
    text-align: center;
    line-height: 1em;
    margin: 0.5em;
    color: $caption-text-color;
    font-size: $caption-font-size;
    font-weight: lighter;
  }
}