.page-title {
  @extend %main-header;
  line-height: 1.2em;

  .page-summary & {
    font-size: 1.3em;
    margin: 0.3em 0;
  }

  .page-header & {
    margin-bottom: 0.3em;
  }
}

.page-content {
  @extend %body-text;
}