.post-summary {
  padding: 1em;
  border-bottom: 1px solid $silver;

  a {
    color: inherit;
    text-decoration: none;
  }

  .hero-wrap {
    margin-bottom: 0;
    line-height: 0;
  }

  .hero-img {
    float: right;
    max-width: 200px;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
  }

  &:hover {
    background-color: rgba($lightest-red, 0.5);
  }
}

