// Colors
$dark-gray:     #444;
$medium-gray:   #666;
$light-gray:    #888;
$lightest-gray: #CCC;

// http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF
$lightest-red:  #FFAAAA;
$light-red:     #D46A6A;
$medium-red:    #AA3939;
$dark-red:      #801515;
$darkest-red:   #550000;

// Element colors
$body-text-color:     #000;
$link-color: $light-red;
$line-color: $medium-red;

// Fonts
$body-font-size: 17px;
$body-font-family: 'Roboto', sans-serif; //Open Sans', sans-serif;

// Sizing
$header-height: 80px;
$footer-height: 89px;
$content-width: 45em;

%main-header {
  color: $medium-red;
  font-size: 2em;
}

%body-text {
  p,
  ul,
  ol,
  pre,
  figure {
    line-height: 1.5em;
    margin: 1em 0;
  }

  // Lists
  ul,
  ul li {
    list-style-type: disc;
  }

  ol,
  ol li {
    list-style-type: decimal;
  }

  ul,
  ol {
    padding-left: 2.5em;
  }

  // Header sizes
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.4em; }
  h3,
  h4,
  h5,
  h6 { font-size: 1.2em; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $medium-red;
    line-height: 1.5em;
    margin: $body-font-size 0;
  }
}